header{
    display: flex;
    align-items: center;
    padding: 1.3rem 1.5rem;
    justify-content: space-between;
    background-color: blue;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
header h2{
    font-weight: 900;
}
header nav{
    display: flex;
   
}

header nav ul{
    display: flex;
    gap: 2rem;
    display: none;
}
header nav ul li a{
    color: white;
}

.nav-mobile{
    position: fixed;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    max-width: 400px;
    padding: 0.6rem 1rem;

    background: white;
    border-radius: 50px; /* FULL rounded */
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);

    z-index: 9;
}

/* ICON LINKS */
.nav-mobile a{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45px;
    height: 45px;

    border-radius: 50%;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* ICON STYLE */
.nav-mobile i{
    font-size: 1.2rem;
    color: blue;
}

/* HOVER EFFECT */
.nav-mobile a:hover{
    background: blue;
}

.nav-mobile a:hover i{
    color: white;
}


@media (min-width: 768px){
    
    header nav ul{
        display: flex;
    }
    .nav-mobile{
        display: none;
    }
    header nav .fa-solid.fa-bars{
        display: none;
    }
}

