
/* HERO SECTION */
.contact-hero{
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1776549821469-e8aab812dba0?q=80&w=870&auto=format&fit=crop') center/cover no-repeat;
    
    color: white;
    height: 18rem;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 0 1rem;
}

.contact-hero h1{
    font-size: 2rem;
    font-weight: 800;
}


.contact-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem 1rem;
    max-width: 1100px;
    margin: 0 auto;
}

/* FORM SECTION */
.form-field{
    display: grid;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.form-field h2{
    text-align: center;
    color: blue;
    margin-bottom: 1rem;
}

.form-field input,
.form-field select,
.form-field textarea{
    width: 100%;
    padding: .7rem;
    border-radius: .5rem;
    border: 1px solid #ccc;
    outline: none;
    font-size: 0.9rem;
}

.form-field input:focus,
.form-field select:focus,
.form-field textarea:focus{
    border-color: blue;
}

/* DATE FIELD */
.date-field{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

/* BUTTON */
.form-field button{
    padding: .7rem;
    border: none;
    background: orange;
    color: white;
    border-radius: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.form-field button:hover{
    background: darkorange;
}

/* CONTACT INFO */
.contact-info{
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 1rem;
    background: #f9f9f9;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    height: fit-content;
}


.info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info i{
    background: orange;
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

/* SOCIALS */
.socilas{
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}

.social{
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.social i{
    font-size: 1.2rem;
}

/* TABLET */
@media (min-width: 768px){
    .contact-grid{
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }

    .contact-hero h1{
        font-size: 2.5rem;
    }
}

/* DESKTOP */
@media (min-width: 1024px){
    .contact-grid{
        gap: 4rem;
    }

    .contact-hero{
        height: 22rem;
    }

    .contact-hero h1{
        font-size: 3rem;
    }
}