
.contact-hero{
   position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.unsplash.com/photo-1776549821469-e8aab812dba0?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
    color: white;
    padding: 80px 5%;
    text-align: center;
    margin-bottom: 20px;
    height: 20rem;
}

.contact-hero h1{
    font-size: 3rem;
    margin: 0 0 20px 0;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

